#body {
    mat-cell:nth-child(1),
    mat-header-cell:nth-child(1) {
        flex: 1 0 auto;
    }

    mat-cell:nth-child(2),
    mat-header-cell:nth-child(2) {
        flex: 0 1 auto;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        button {
            height: 60px;
        }
    }
}