<section>
    <section id="body"><div>
        <h4>Pontuação Geral</h4>
        <mat-table [dataSource]="classesPontuation">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef width="100px"> Name </mat-header-cell>
                <mat-cell *matCellDef="let class"> {{ class.name }} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="pontuation">
                <mat-header-cell *matHeaderCellDef>Pontuação</mat-header-cell>
                <mat-cell *matCellDef="let class">{{ class.pontuation }}</mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>

    <div>
        <h4>Pontuação Alunos</h4>
        <section class="actions">
            <mat-form-field appearance="outline">
                <mat-label>Classe</mat-label>
                <mat-select
                    (selectionChange)="selectClass(classSelected)"
                    [(ngModel)]="classSelected">
                    <mat-option *ngFor="let class of classes" [value]="class.id">{{ class.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-stroked-button
                routerLink="chamada"
                color="accent">Fazer Chamada</button>
        </section>
        <mat-table [dataSource]="students">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef width="100px"> Name </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{ student.name }} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="pontuation">
                <mat-header-cell *matHeaderCellDef>Pontuação</mat-header-cell>
                <mat-cell *matCellDef="let student">{{ student.pontuation }}</mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
    </section>
</section>