<h4 mat-dialog-title>Remover Visitante</h4>
<div mat-dialog-content>
    Gostaria de apagar os visitantes abaixo?
    <ul>
        <li *ngFor="let visitor of visitorData.visitors">{{ visitor.name }}</li>
    </ul>
</div>
<div id="actions"
     mat-dialog-actions>
    <button mat-dialog-close
        mat-button>Não</button>

    <button (click)="confirmRemove()"
        mat-button
        cdkFocusInitial>Sim</button>
</div>