<h4 mat-dialog-title>Remover Aviso</h4>
<div mat-dialog-content>
    Gostaria de apagar o aviso do <strong>{{ notice.department }}</strong>?
</div>
<div id="actions"
     mat-dialog-actions>
    <button mat-dialog-close
        mat-button>Não</button>

    <button (click)="confirmRemove()"
        mat-button
        cdkFocusInitial>Sim</button>
</div>