<h4 mat-dialog-title>Remover Visitantes</h4>
<div mat-dialog-content>
    Gostaria de limpar a lista de visitantes?
</div>
<div id="actions" mat-dialog-actions>
    <button mat-dialog-close mat-button>Não</button>

    <button (click)="confirmRemove()"
        color="warn"
        mat-flat-button
        cdkFocusInitial>Sim</button>
</div>