ul {
    list-style: none;
    padding: 0 10px 0 0;

    li {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;
        border-radius: 5px;
    }
}