<div id="content">
    <button routerLink="cadastro"
        class="float-button"
        color="primary"
        mat-fab>
     <mat-icon>
         add
     </mat-icon>
    </button>
    <section id="header">
       <h5 class="title-page">Avisos das Redes</h5>
    </section>

    <section id="body">
        <section id="empty-list"
           *ngIf="!notices.length">
           <h3>Nenhum Aviso</h3>
        </section>
        <mat-card *ngFor="let notice of notices">
            <mat-card-title-group>
              <mat-card-title>{{ notice.department }}</mat-card-title>
              <img mat-card-sm-image src="assets/icons/png/pin.png" >
              <button (click)="confirmRemove(notice)"
                id="add-button"
                mat-icon-button
                color="warn">
                <mat-icon>close</mat-icon>
              </button>
            </mat-card-title-group>
            <mat-card-content>{{ notice.notice }}</mat-card-content>
            <mat-card-actions align="end">
                <button (click)="editNotice(notice)"
                    color="accent"
                    mat-button>Editar</button>
            </mat-card-actions>
        </mat-card>
    </section>
 </div>