@import 'src/styles.scss';
@import 'src/assets/scss/partials/mixins.scss';


#content {
    height: 100%;
    display: flex;
    flex-direction: column;

    #header {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        flex: 0 1 auto;

        .title-page {
            text-align: center;
            font-size: 2vw;
            flex: 1;
            margin: 5px;

            @include query(tablet) {
                font-size: 5vw;
            }
        }
    }

    #body {
        display: flex;
        flex-direction: column;
        gap: 15px;

        #empty-list {
            text-align: center;
        }

        mat-card-title-group {
            img {
                $image-size: 20px;
                width: $image-size;
                height: $image-size;
                position: absolute;
                left: 4px;
                top: -5px;
                transform: rotate(280deg);
            }
        }

        mat-card-content {
            white-space: break-spaces;
        }
    }
}