<mat-drawer-container>
    <mat-drawer mode="side" opened>
        <section id="header-menu">
            <div id="info-title">
                <span id="title">ADEAL</span>
                <span id="location">Setor 10</span>
            </div>
        </section>
        <hr>
        <app-menu></app-menu>
    </mat-drawer>
    
    <mat-drawer-content>
        <app-header></app-header>
        <section id="body-layout">
            <router-outlet></router-outlet>
        </section>
    </mat-drawer-content>
</mat-drawer-container>
