@import 'src/assets/scss/partials/variables.vars.scss';
@import 'src/assets/scss/partials/mixins.scss';

mat-drawer-container {
    height: 100%;
    background: transparent;

    mat-drawer {
        min-width: 200px;
        background-color: $dark-secondary;
        border-right: none;
        padding-left: 10px;
        display: none;
    }

    mat-drawer-content {
        display: flex;
        flex-direction: column;

        app-header {
            flex: 0 1 auto;
        }

        #body-layout {
            flex: 1;
            padding: 20px;

            @include query(tablet) {
                padding: 20px 0px;
            }
        }
    }

    #header-menu {
        margin-top: 10px;
        display: flex;
        gap: 10px;

        div {
            flex: 1;

            img {
                height: 30px;
            }
    
            &#info-title {
                flex: 2;
                display: flex;
                flex-direction: column;
                text-align: center;

                #title {
                    font-weight: bold;
                }

                #location {
                    font-size: 12px;
                }
            }
        }

    }
}