$bd: (
    mobile: 448px,
    tablet: 768px,
    desktop: 1448px
);

@mixin query($screen) {
    @each $key, $value in $bd {
        @if $screen == $key {
            @media (max-width: $value) {
                @content
            }
        }
    }
}