@import '~@angular/material/theming';

@include mat-core();

$blue-light: #1C9EC6;
$green: #09b11f;
$red: #8c0101;
$orange: #ec9d05;
$orange-dark: #905507;

$dark-primary: #171717;
$dark-secondary: #212221;

$primary: mat-palette($mat-blue, 800, 400, A100);
$accent:  mat-palette($mat-lime, 300, 700, A400);
$theme: mat-dark-theme($primary, $accent);
@include angular-material-theme($theme);

$primary-color: mat-color(map-get($theme, primary));
$accent-color: mat-color(map-get($theme, accent));