<mat-toolbar class="header" color="primary">
    <button mat-flat-button color="primary" routerLink="/">
        <mat-icon>home</mat-icon>
    </button>

    <div>
        <img src="assets/logo.png" alt="Igreja Assimbleia de Deus - Cidade do Entorno">
        <span>ADEAL 10</span>
    </div>

    <button mat-flat-button color="primary">
        <mat-icon matBadge="22"
            matBadgeColor="warn"
            matBadgeSize="small">notifications</mat-icon>
    </button>
</mat-toolbar>