@import 'src/assets/scss/partials/mixins.scss';

mat-toolbar {
    img {
        width: 30px;
    }
}

.header {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    img {
        max-width: 100px;

        @include query(tablet) {
            width: 10vw;
        }
    }
    .title {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: 10px;

        span {
            font-size: 2vw;

            @include query(tablet) {
                font-size: 3vw;
            }
        }

        .church-name {
            text-align: center;
            font-weight: bold;
        }
    }
}