<section id="content">
    <section id="header">
        <h5 class="title-page">Escola Bíblica Dominical</h5>
        <small>{{ date | date: 'dd/MM/yyyy' }}</small>

        <section class="actions">
             <mat-form-field appearance="outline">
                <mat-label>Classe</mat-label>
                <mat-select
                    (selectionChange)="selectClass(classSelected)"
                    [(ngModel)]="classSelected">
                    <mat-option *ngFor="let class of classes" [value]="class.id">{{ class.name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <button (click)="register()"
                [disabled]="hasRegister"
                mat-flat-button
                color="primary">Registrar</button>
        </section>
    </section>

    <section id="body">
        <mat-table [dataSource]="students">

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef width="100px"> Name </mat-header-cell>
                <mat-cell *matCellDef="let student"> {{ student.name }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="check">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let student">
                    <mat-checkbox labelPosition="before" [(ngModel)]="student.isPresent" [disabled]="hasRegister">Presente</mat-checkbox>
                    <mat-checkbox labelPosition="before" [(ngModel)]="student.hasBible" [disabled]="hasRegister">Bíblia</mat-checkbox>
                    <mat-checkbox labelPosition="before" [(ngModel)]="student.hasMagazine" [disabled]="hasRegister">Revista</mat-checkbox>
                    <mat-checkbox labelPosition="before" [(ngModel)]="student.hasOffer" [disabled]="hasRegister">Oferta</mat-checkbox>
                    <mat-checkbox labelPosition="before" [(ngModel)]="student.hasFood" [disabled]="hasRegister">Alimento</mat-checkbox>
                    <mat-checkbox labelPosition="before" [(ngModel)]="student.hasVisitor" [disabled]="hasRegister">Visitante</mat-checkbox>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </section>
</section>