@import 'src/styles.scss';
@import 'src/assets/scss/partials/mixins.scss';


#content {
    height: 100%;
    display: flex;
    flex-direction: column;

    #header {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        flex: 0 1 auto;

        .title-page {
            text-align: center;
            font-size: 2vw;
            flex: 1;
            margin: 5px;

            @include query(tablet) {
                font-size: 5vw;
            }
        }

        small {
            text-align: center;
        }

        .actions {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            button {
                height: 60px;
            }
        }
    }

    #body {
        mat-table {
            width: 100%;

            mat-cell:nth-child(1),
            mat-header-cell:nth-child(1) {
                flex: 1 0 auto;
            }

            mat-cell:nth-child(2),
            mat-header-cell:nth-child(2) {
                flex: 0 1 100px;
                flex-direction: column;
                align-items: end;
                justify-content: center;
                padding: 10px 20px;
            }
        }
    }
}
