<form [formGroup]="form">

    <mat-vertical-stepper>
        <mat-step id="personal-info" label="Dados Pessoais" class="person-step">
            <div class="body">
                <mat-form-field appearance="outline">
                    <mat-label>Nome Completo</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Sexo</mat-label>
                    <mat-select>
                        <mat-option>Masculino</mat-option>
                        <mat-option>Feminino</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>CPF</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Data Nascimento</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>RG</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Estado RG</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Órgão RG</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Data Emissão RG</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Estado Civil</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Naturalidade</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Nacionalidade</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Nome Mãe</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Nome Pai</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
        
                <mat-form-field appearance="outline">
                    <mat-label>Nome Cônjuge</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Grau de Instrução</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
        
                <mat-form-field appearance="outline">
                    <mat-label>Data Batismo</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
            </div>
        </mat-step>
    
        <mat-step id="ecclesiastical-title" label="Título Eclesiástico">
            <div class="body">
                <mat-form-field appearance="outline">
                    <mat-label>Cargo Eclesiástico</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Data</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>País</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Cidade</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
            </div>
        </mat-step>
    
        <mat-step id="contact" label="Contato">
            <div class="body">
                <mat-form-field appearance="outline">
                    <mat-label>Telefone</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="teste">
                </mat-form-field>
            </div>
        </mat-step>
    
        <mat-step id="address" label="Endereço">
            <div class="body">
                <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="state">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Cidade</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="city">
                </mat-form-field>
                
                <mat-form-field appearance="outline">
                    <mat-label>Logradouro</mat-label>
                    <input
                        matInput
                        autocomplete="off"
                        formControlName="address">
                </mat-form-field>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</form>
