<div id="content">
    <div *ngFor="let option of options"
        class="option"
        routerLink="{{ option.route }}">
        <img src="{{ option.icon }}" alt="{{ option.name }}">
        <span>{{ option.name }}</span>
    </div>
</div>

