@import 'src/assets/scss/partials/variables.vars.scss';

#content {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 25px;
    flex-wrap: wrap;

    .option {
        background-image: initial;
        padding: 5px;
        width: 145px;
        height: 180px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-weight: bold;
        user-select: none;
        background-color: $dark-secondary;

        img {
            width: 50px;
        }
    }
}
