<section id="content">
   <section id="tools">
      <button (click)="confirmClear()"
         mat-flat-button
         color="default"
         [disabled]="amountVisitors() == 0">
         Limpar Listas
      </button>
      <div id="amount-visitors">
         <mat-icon>group</mat-icon>
         <span>{{ amountVisitors() }}</span>
      </div>
   </section>

   <section id="body">
      <section id="empty-list"
         *ngIf="amountVisitors() == 0">
         <h3>Nenhum Visitante</h3>
      </section>

      <section *ngIf="newMembers?.length">
         <h4>Apresentar Novos Membros</h4>
         <ul>
            <li *ngFor="let visitorData of newMembers"
               matRipple>
               <mat-icon
                  class="align-top material-icons-outlined"
                  aria-hidden="false"
                  color="accent">
                  {{ visitorData.visitors.length > 1 ? 'group' : 'person' }}
               </mat-icon>
               <div class="visitors">
                  <span
                     *ngFor="let visitor of visitorData.visitors"
                     color="accent">{{ visitor.name }}</span>
               </div>
               <div class="options">
                  <button (click)="editVisitor(visitorData)"
                     mat-icon-button
                     class="edit-button">
                     <mat-icon>edit</mat-icon>
                  </button>
                  <button (click)="confirmRemove(visitorData)"
                     mat-icon-button
                     color="warn">
                     <mat-icon>delete</mat-icon>
                  </button>
               </div>
            </li>
         </ul>
      </section>

      <section *ngIf="visitors?.length">
         <h4>Visitantes</h4>
         <ul>
            <li *ngFor="let visitorData of visitors"
               matRipple>
               <mat-icon
                  class="align-top material-icons-outlined"
                  aria-hidden="false"
                  color="primary">
                  {{ visitorData.visitors.length > 1 ? 'group' : 'person' }}
               </mat-icon>
               <div class="visitors">
                  <span
                     *ngFor="let visitor of visitorData.visitors"
                     color="accent">{{ visitor.name }}</span>
               </div><div class="options">
                  <button (click)="editVisitor(visitorData)"
                     mat-icon-button
                     class="edit-button">
                     <mat-icon>edit</mat-icon>
                  </button>
                  <button (click)="confirmRemove(visitorData)"
                     mat-icon-button
                     color="warn">
                     <mat-icon>delete</mat-icon>
                  </button>
               </div>
            </li>
         </ul>
      </section>

      <button id="add-button"
         mat-fab
         routerLink="cadastro"
         color="primary">
         <mat-icon>add</mat-icon>
       </button>
   </section>
   
</section>