@import 'src/assets/scss/partials/mixins.scss';
@import 'src/assets/scss/partials/variables.vars.scss';

#content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;

    #tools {
        display: flex;
        justify-content: space-between;

        #amount-visitors {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    
    #body {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;

        #empty-list {
            text-align: center;
        }
    
        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            flex: 1 1 auto;
            flex-direction: column;
            gap: 5px;
    
            li {
                display: flex;
                gap: 15px;
                padding: 20px 10px;
                align-items: center;
                border-bottom: 1px dashed #404040;

                .align-top {
                    align-self: first baseline;
                }

                .visitors {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    width: -webkit-fill-available;
                }

                .options {
                    display: flex;
                    gap: 5px;

                    .edit-button {
                        color: $orange;
                    }
                }

                span {
                    white-space: pre-line;
                    line-height: 30px;
                    width: -webkit-fill-available;
                    align-items: center;
                }
            }
        }

        #add-button {
            $position: 10px;
            
            position: fixed;
            right: $position;
            bottom: $position;
        }
    }
}
