/* You can add global styles to this file, and also import other style files */
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import 'src/assets/scss/partials/classes.vars.scss';
@import 'src/assets/scss/partials/variables.vars.scss';

@font-face {
    font-family: 'Open Sans';
    src: url('src/assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url('src/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

body {
    font-family: 'Open Sans';
    margin: 0px;

    .float-button {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 100;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

 ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(45deg, $primary-color, $dark-secondary);
}
