<form id="content"
    [formGroup]="formVisitor"
    (ngSubmit)="save()">
    <input name="id" formControlName="id" type="hidden">
    <mat-checkbox
        formControlName="isNewMember"
        name="checkNewMember"
        labelPosition="before">Apresentar</mat-checkbox>

    <mat-form-field appearance="outline" class="stretch-height">
        <textarea name="visitors"
            formControlName="visitors"
            matInput
            placeholder="Digite o nome dos visitantes..."
            
            [matTextareaAutosize]="false"></textarea>
    </mat-form-field>

    <section class="actions">
        <button mat-flat-button routerLink="..">Voltar</button>
        <button type="submit"
            [disabled]="formVisitor.invalid"
            mat-flat-button
            color="primary">Salvar</button>
    </section>
</form>