// @import 'src/assets/scss/partials/variables.vars.scss';

#content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    mat-form-field {
        height: 100%;
        display: flex;
        line-height: 25px;

        ::ng-deep div.mat-form-field-wrapper {
            width: 100%;
            display: flex;

            .mat-form-field-infix {
                width: 100%;
                height: -webkit-fill-available;
                display: flex;
            }
        }
    }

    .actions {
        display: flex;
        gap: 10px;

        button {
            flex: 1;
        }
    }
}