<form [formGroup]="formNotice"
    (submit)="save()"
    id="content">
    <input name="id"
        formControlName="id"
        type="hidden">
    <mat-form-field
        appearance="outline">
        <mat-label>Rede</mat-label>
        <input name="department"
            formControlName="department"
            type="text"
            placeholder="Nome da Rede"
            matInput>
    </mat-form-field>

    <mat-form-field
        appearance="outline"
        class="stretch-height">
        <textarea name="notice"
            formControlName="notice"
            matInput
            placeholder="Escreva seu aviso..."
            
            [matTextareaAutosize]="false">
        </textarea>
    </mat-form-field>
    <section class="actions">
        <button mat-flat-button routerLink="..">Voltar</button>
        <button type="submit"
            mat-flat-button
            color="primary">Salvar</button>
    </section>
</form>